*.iml
.gradle
/local.properties
/.idea
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
*.ap_
*.dex
bin/
gen/
out/
release/
.gradle-home/
build/
*/build/
**/build/
*.keystore
!debug.keystore
proguard/
